.vmenu {
	WIDTH: 190px; 
	float: left;
}

.vmenu li{
 	padding-top: 5px;
	PADDING-LEFT: 10px; 
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold;
	COLOR: #bc0000; 
	BACKGROUND-COLOR: #88B3E6; 
	HEIGHT: 30px; 
	TEXT-ALIGN: left;
}

.vmenu .sub {
	/* padding-top: 5px; */
	PADDING-LEFT: 15px; 
	FONT-SIZE: 0.8em; 
	FONT-WEIGHT: normal;
	COLOR: #94522d; 
	HEIGHT: 27px; 
	BACKGROUND-COLOR: #BDD9F5; 
}

.vmenu A:link {
	COLOR: #bc0000;
}

.vmenu A:visited {
	COLOR: #bc0000;
}

.vmenu A:active {
	COLOR: #bc0000;
}

.vmenu A:hover, .vmenu A.active, .vmenu .sub A.active {
	TEXT-DECORATION: underline;
	text-transform: uppercase;
}
