BODY {
	FONT-SIZE: 10pt; 
	BACKGROUND-IMAGE: url(images/sand_sun.jpg); 
	MARGIN: 5px; 
	COLOR: #280000; 
	FONT-FAMILY: Verdana, Arial; 
	BACKGROUND-COLOR: #ffe6c8
}
A {
	TEXT-DECORATION: underline
}
A:link {
	COLOR: #FF6313;
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #FF6313;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #D80000;
	text-decoration: underline;
	font-size: 1.1em
}
A:active {
	TEXT-DECORATION: underline;
	font-size: 1.2em;
	font-weight: normal
}
A.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: pointer  /* устанавливаем курсор в виде стрелки */
}
ol.flash > li {
	margin-top: 15px
}
span.remark {
	font-size: 0.9em;
	color: #AAA;
	font-style:italic
}
.RegisteredOnly{
	font-size: 10pt;
	color: #FF0000;
	font-family: Arial, Verdana
}
.PanelHeaderTop {
	BACKGROUND-IMAGE: url(images/header_top_line.jpg); HEIGHT: 3px; BACKGROUND-COLOR: #ffebc3
}
.PanelHeader {
	height: 85px;
	BACKGROUND-IMAGE: url(images/header_site.jpg);
	VERTICAL-ALIGN: middle; BACKGROUND-COLOR: #BDD9F5
}
.PanelHeaderSub {
	float: left
}

.HeaderSite {
	FONT-SIZE: 40px;
	COLOR: #bc0000;
	FONT-FAMILY: Arial, Verdana;
	text-shadow: 1px 2px #FFFFFF
}
.HeaderEpigraph {
	FONT-SIZE: 8pt;
	COLOR: #88B3E6;
	FONT-FAMILY: Arial, Verdana;
	text-shadow: 1px 2px #94522D
}
.PanelLeft {
	WIDTH: 5%; 
	BACKGROUND-IMAGE: url(images/sand.jpg); 
	BACKGROUND-COLOR: #e6c8a0
}
.PanelRight {
	WIDTH: 5%; 
	BORDER-RIGHT: white 1px solid; 
	BORDER-LEFT: white 1px solid; 	
	BACKGROUND-IMAGE: url(images/sand.jpg); 
	BACKGROUND-COLOR: #e6c8a0
}
.PanelMenuTop
{
	background-image: url(images/topmenu.jpg);
	vertical-align: middle;
	color: #ffe2c2;
	font-family: Verdana, Arial;
	height: 15px;
	BACKGROUND-COLOR: #4E6261;
	text-align: center;
	align-self: center
}
.PanelMainInfo {
	background-image: url(images/back_sand.jpg);
	BACKGROUND-COLOR: #f0e6dc;
	text-align: left
}
.PanelBottom {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BACKGROUND-IMAGE: url(images/bottom_line.jpg); BORDER-LEFT: white 1px solid; COLOR: #800000; BORDER-BOTTOM: white 1px solid; HEIGHT: 10px; BACKGROUND-COLOR: #e6c8a0
}
.PanelBanners {
	FONT-SIZE: 9px; COLOR: #807f7d; BACKGROUND-COLOR: #e6e3e2
}
A.PanelBanners:link {
	COLOR: #807f7d; TEXT-DECORATION: underline
}
A.PanelBanners:visited {
	COLOR: #807f7d; TEXT-DECORATION: underline
}
A.PanelBanners:hover {
	COLOR: #807f7d; TEXT-DECORATION: underline
}
A.PanelBanners:active {
	COLOR: #807f7d; TEXT-DECORATION: underline
}
IMG.PanelBanners {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.MenuTopPanel {
	display: flex;
	justify-content: center;
	HEIGHT: 15px; 
	FONT-SIZE: 7pt;
	BACKGROUND-IMAGE: url(images/topmenu.jpg);
	VERTICAL-ALIGN: middle; 
	COLOR: #4E6261; 
	FONT-FAMILY: Verdana, Arial; 
	BACKGROUND-COLOR: #4E6261; 
	TEXT-ALIGN: center
}
.MenuTop {
	FONT-SIZE: 7pt; COLOR: #ffe2c2; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #4E6261
}
A.MenuTop:link {
	COLOR: #ffe2c2
}
A.MenuTop:visited {
	COLOR: #ffe2c2
}
A.MenuTop:active {
	COLOR: #ffe2c2
}
A.MenuTop:hover {
	TEXT-DECORATION: underline
}
.MenuTopUser {
	FONT-SIZE: 7pt; COLOR: #dbb08b; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #4E6261
}
A.MenuTopUser:link {
	COLOR: #dbb08b
}
A.MenuTopUser:visited {
	COLOR: #dbb08b
}
A.MenuTopUser:active {
	COLOR: #dbb08b
}
A.MenuTopUser:hover {
	TEXT-DECORATION: underline
}
.MenuLeftPanel {
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px
}
.MenuRightSection {
	FONT-SIZE: 12px; 
	COLOR: #bc0000; 
	BACKGROUND-COLOR: #88B3E6; 
	BACKGROUND-IMAGE: url(images/rightmenu_div.jpg); 
	FONT-FAMILY: Verdana, Arial; 
	HEIGHT: 20px; 
	TEXT-ALIGN: center; 
	BORDER-RIGHT: #cdaa82 1px solid;
	BORDER-TOP: #cdaa82 1px solid; 
	BORDER-LEFT: #cdaa82 1px solid; 
	BORDER-BOTTOM: #cdaa82 1px solid
}
.MenuRightSubSection {
	BORDER-RIGHT: #cdaa82 1px solid;
	BORDER-TOP: #cdaa82 1px solid; 
	BORDER-LEFT: #cdaa82 1px solid; 
	BORDER-BOTTOM: #cdaa82 1px solid;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-Top: 5px; 	
	PADDING-Bottom: 5px; 		
	FONT-WEIGHT: normal; 
	FONT-SIZE: 7pt; 
	COLOR: #94522d; 
	FONT-FAMILY: Arial, Verdana; 
	TEXT-ALIGN: left;
	BACKGROUND-COLOR: #ffe6c8
}
.ColumnLeftMenu{
	float: left;
}
.ColumnRightContent{
	display: table;
}
.MenuLeftPanel {
	WIDTH: 190px; 
	BORDER-RIGHT: #cdaa82 1px solid;
	BORDER-TOP: #cdaa82 1px solid; 
	BORDER-LEFT: #cdaa82 1px solid; 
	BORDER-BOTTOM: #cdaa82 1px solid;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px
}
.MenuLeftSection {
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: #bc0000; 
	BACKGROUND-COLOR: #88B3E6; 
	FONT-FAMILY: Verdana, Arial; 
	HEIGHT: 30px; 
	TEXT-ALIGN: left 
}
A.MenuLeftSectionLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #bc0000; FONT-FAMILY: Verdana, Arial; TEXT-ALIGN: left; FONT-VARIANT: small-caps
}
A.MenuLeftSectionLink:link {
	COLOR: #bc0000
}
A.MenuLeftSectionLink:visited {
	COLOR: #bc0000
}
A.MenuLeftSectionLink:active {
	COLOR: #bc0000
}
A.MenuLeftSectionLink:hover {
	TEXT-DECORATION: underline
}
.MenuLeftSubSection {
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 15px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 8pt; 
	COLOR: #94522d; 
	FONT-FAMILY: Arial, Verdana; 
	HEIGHT: 23px; 
	BACKGROUND-COLOR: #BDD9F5; 
	TEXT-ALIGN: left
}
.MenuLeftDiv {
	BACKGROUND-IMAGE: url(images/leftmenu_div.jpg); HEIGHT: 2px; BACKGROUND-COLOR: #6693BC
}
.SectionPanel {
	BORDER-RIGHT: #e6c8a0 1px solid; BORDER-TOP: #e6c8a0 1px solid; BORDER-LEFT: #e6c8a0 1px solid; WIDTH: 500px; BORDER-BOTTOM: #e6c8a0 1px solid
}
.SectionHeader {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/sky.jpg); VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; COLOR: #800000; FONT-FAMILY: Arial, Verdana; HEIGHT: 30px; BACKGROUND-COLOR: #BDD9F5; TEXT-ALIGN: center
}
.SectionShortInfo {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; COLOR: #94522d; PADDING-TOP: 2px; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #ffe6c8; BACKGROUND-COLOR: #BDD9F5; TEXT-ALIGN: center
}
.MaterialPanel {
	WIDTH: 100%;
	background-color: #E6C8A0
}
.MaterialTop {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #800000; FONT-FAMILY: Verdana, Arial; HEIGHT: 20px; TEXT-ALIGN: left
}
.MaterialHeader {
	display: table-row;	
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 14pt;
	COLOR: #800000;
	FONT-FAMILY: Arial, Verdana;
	HEIGHT: 30px;
	TEXT-ALIGN: left
}
.MaterialAuthor {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #800000; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #ffe6c8; TEXT-ALIGN: left
}
.MaterialShortInfo {
	display: table-row;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px;
	background-color: #FFFFFF;
	font-style: normal
}
.MaterialText {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; COLOR: #280000; TEXT-INDENT: 10px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial; TEXT-ALIGN: justify
}
.MaterialBoldColor
{
	padding-right: 10px;
	padding-left: 10px;
	font-size: 13pt;
	padding-bottom: 3px;
	color: #FF0066;
	text-indent: 0px;
	padding-top: 2px;
	font-family: Verdana, Arial;
	text-align: justify;
	font-weight: bold
}
.MaterialImage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; VERTICAL-ALIGN: middle; WIDTH: 60px; COLOR: #280000; BACKGROUND-COLOR: #eeffff; TEXT-ALIGN: left
}
.MaterialBottom {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #800000; FONT-FAMILY: Verdana, Arial; HEIGHT: 20px; TEXT-ALIGN: left
}
.FormTopPanel {
	BORDER-RIGHT: #e6c8a0 1px solid; BORDER-TOP: #e6c8a0 1px solid; BORDER-LEFT: #e6c8a0 1px solid; WIDTH: 100%; COLOR: #800000; BORDER-BOTTOM: #e6c8a0 1px solid; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #ffe6c8
}
.FormTopPanelName {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 17px; VERTICAL-ALIGN: bottom; HEIGHT: 30px; TEXT-ALIGN: left
}
.FormTopPanelOperations {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; HEIGHT: 30px; TEXT-ALIGN: left
}
.FormTopPanelInfo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; HEIGHT: 15px; TEXT-ALIGN: left
}
.FormTopEdFind {
	FONT-SIZE: 11px; VERTICAL-ALIGN: middle; HEIGHT: 15px; TEXT-ALIGN: left
}
.FormTopButtonOk {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 17px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/btOk.BMP); VERTICAL-ALIGN: middle; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; BACKGROUND-COLOR: buttonface; TEXT-ALIGN: center
}
.FormTopButtonSave {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 17px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/btSave.BMP); VERTICAL-ALIGN: middle; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; BACKGROUND-COLOR: buttonface; TEXT-ALIGN: center
}
.FormTopButtonCancel {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 17px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/btCancel.BMP); VERTICAL-ALIGN: middle; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; BACKGROUND-COLOR: buttonface; TEXT-ALIGN: center
}
.FormTopButtonUpdate {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 17px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/btAll.BMP); VERTICAL-ALIGN: middle; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; BACKGROUND-COLOR: buttonface; TEXT-ALIGN: center
}
.FormTopButtonFind {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 17px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/btFind.BMP); VERTICAL-ALIGN: middle; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; BACKGROUND-COLOR: buttonface; TEXT-ALIGN: center
}
.GridPanel {
	WIDTH: 100%
}
.GridHeader {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #800000; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #ffe6c8; TEXT-ALIGN: center
}
.GridRow {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #280000; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #f7ffff; TEXT-ALIGN: center
}
.GridRowAlt {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #280000; FONT-FAMILY: Arial, Verdana; BACKGROUND-COLOR: #e2ffff; TEXT-ALIGN: center
}
.GridPager {
	BORDER-RIGHT: #e6c8a0 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 9px; BORDER-LEFT: #e6c8a0 1px solid; COLOR: #800000; BORDER-BOTTOM: #e6c8a0 1px solid; FONT-FAMILY: Verdana, Arial; HEIGHT: 20px; BACKGROUND-COLOR: #ffe6c8; TEXT-ALIGN: left
}
.announce {
    border: 30px solid white;
	border-collapse: collapse;
	text-align: center;
	font-size: 1.5em;
	background-color: #800000;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 15px;
	padding-left: 15px;
	color: #FFFFFF
}
